
node_modules/
packages/**/typings/**
packages/**/main/**
packages/**/module/**
packages/**/bin/**
packages/**/lib/**
packages/**/node_modules
packages/**/.next
**/node_modules
.stencil/
packages/**/dist/**
packages/**/__snapshots__/**
**/metro.config.js
**/codegen.*
terraform/
.cache/
dist/
bin/
lib/
module/
main/
typings/
android/
ios/
amplify/
.serverless/
*.pem
*.log
LICENSE
.huskyrc.*
yarn.*
.DS_Store
lerna.json
**/jaguar-model/
**/codegen
packages/ui/src/models
**/.next
/.yarn
