{
    "root": true,
    "parser": "@typescript-eslint/parser",
    "extends": [
      "prettier",
      "plugin:prettier/recommended",
      "plugin:import/errors",
      "plugin:import/warnings",
      "plugin:import/typescript"
    ],
    "parserOptions": {
      "ecmaVersion": 2018,
      "sourceType": "module"
    },
    "rules": {
      "no-var": "error",
      "no-console": ["error"],
      "import/order": [
        "error",
        {
          "groups": [
            "builtin",
            "external",
            "sibling",
            "internal",
            "index",
            "parent",
            "object"
          ]
        }
      ]
    }
  }